body {
    background-color: gray;
}

/* Header Properties */
.header-top {
    display: flex;
    font-size: medium;
    font-family:  georgia, verdana, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: gray;
    margin: 0 200px;
    padding: 0 16px;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.logo {
   display: inline-block;
   position: relative;
   width: 100px;
   height: 100px;
   overflow: hidden;
   border-radius: 50%;
   border: 2px solid white;
   flex-shrink: 0;
}

.logo img {
    width: auto;
    height: 100%;
    margin-left: -38px;
}

.con-one {
    display: flex;
    align-items: center;
    gap: 16px;
}

h2 {
    text-align: left;
}

.buttons {
    display: flex;
    gap: 24px; 
    flex-wrap: wrap;
    font-weight: 200;
}

/* Sub-Header Properties */
.header {
    display: flex;
    margin: 0 200px; 
    padding: 16px;
    background-color: gray;
}

.main-text {
    color: rgb(43, 46, 255); 
    margin-bottom: 0; 
    font-size: 60px;  
}

.sub-text {
    color: rgb(29, 29, 207);
    margin-top: 0;
    font-size: 24px;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

.con-two {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 20px;
    max-width: max-content;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.button {
    display: flex;
    padding: 24px 0;
}
img brake {
    display: flex;
}